.ingredients-scroll {
    flex-grow: 1;
}

.ingredient-toggle {
    flex-grow: 1;
    margin-left: 0;
}

.ingredient-toggle > .unity-toggle__input {
    width: 8;
    height: 8;
}

.ingredient-toggle .unity-toggle__text {
    font-size: var(--font-size-body);
    color: var(--color-text);
    white-space: normal;
}

.ingredient-toggle:checked .unity-toggle__text {
    color: var(--color-text-muted);
}
